# <u><h><center> Pauta C4b</center></h></u>
## IIC2115 - Programación Como Herramienta para la Ingeniería
### Ayudante: Felipe Fuentes

#### La primera parte es para generar la base de datos, utilizada en la actividad C4a

In [1]:
import sqlite3  # importamos el módulo de sqlite

connection = sqlite3.connect('futbol.db') 
            
# Generamos un cursor al contenido de la base de datos, lo que nos permite 
# acceder al contenido de las tablas y a realizar consultas sobre ellas.   
cursor = connection.cursor()                    

# Creamos las tablas:

cursor.execute("CREATE TABLE Equipos(eid INTEGER PRIMARY KEY, nombre TEXT UNIQUE)")
cursor.execute("CREATE TABLE Temporadas(tid INTEGER PRIMARY KEY, ano INTEGER UNIQUE)")
cursor.execute("CREATE TABLE Ligas(lid INTEGER PRIMARY KEY, nombre TEXT UNIQUE)")

cursor.execute("""CREATE TABLE Partidos(pid INTEGER PRIMARY KEY, liga INTEGER, 
    temporada INTEGER, fecha DATE, equipo INTEGER, localidad TEXT, resultado TEXT,
    puntos INTEGER, goles INTEGER, goles_perdidos INTEGER, pases_profundos INTEGER, 
    pases_profundos_permitidos INTEGER, ppda REAL, oppda REAL, 
    FOREIGN KEY (liga) REFERENCES Ligas, FOREIGN KEY (temporada) REFERENCES Temporadas, 
    FOREIGN KEY (equipo) REFERENCES Equipos)""")

connection.commit()
connection.close()

OperationalError: table Equipos already exists

In [24]:
connection = sqlite3.connect('futbol.db')  
cursor = connection.cursor()                    

# Con esto podemos eliminar las tablas que creamos:

cursor.execute("DROP TABLE IF EXISTS  Equipos")
cursor.execute("DROP TABLE IF EXISTS Temporadas")
cursor.execute("DROP TABLE IF EXISTS  Ligas")
cursor.execute("DROP TABLE IF EXISTS  Partidos")

connection.commit() 
connection.close()

In [29]:
#importamos los datos

import json
with open('football_results.json', encoding = 'utf8') as movies_file:
    partidos = json.load(movies_file)

In [30]:
#insertamos los datos

connection = sqlite3.connect('futbol.db')
cursor = connection.cursor()

eid = 1
tid = 1
lid = 1
pid = 1
dicc_equipos= {}
dicc_season= {}
dicc_ligas= {}


#el orden de inserción es importante, fijarse en crear primero las tablas a las que se les 
#va a hacer referencia por medio de foreign keys
for partido in partidos:
    
    if not partido["team"] in dicc_equipos:
        cursor.execute("INSERT INTO Equipos(eid, nombre) VALUES (?,?)", (eid, partido["team"]))
        dicc_equipos[partido["team"]]= eid
        eid+=1
        
    if not partido["league"] in dicc_ligas:
        cursor.execute("INSERT INTO Ligas(lid, nombre) VALUES (?,?)", (lid, partido["league"]))
        dicc_ligas[partido["league"]]= lid
        lid+=1
            
    if not partido["season"] in dicc_season:
        cursor.execute("INSERT INTO Temporadas(tid, ano) VALUES (?,?)", (tid, partido["season"]))
        dicc_season[partido["season"]]= tid
        tid+=1
        
    cursor.execute("INSERT INTO Partidos(pid, liga, temporada, fecha, equipo, localidad, resultado, puntos, goles, goles_perdidos, pases_profundos, pases_profundos_permitidos,ppda, oppda) VALUES (?,?,?,?,?,?,?,?,?,?,?,?,?,?)", (pid, dicc_ligas[partido["league"]], dicc_season[partido["season"]], partido["date"], dicc_equipos[partido["team"]], partido["h_a"], partido["result"], partido["pts"],partido["goals_scored"], partido["goals_missed"], partido["deep_passes"], partido["deep_passes_allowed"], partido["ppda"], partido["oppda"]))

    pid += 1

    
    


connection.commit()
connection.close()

## C4b

### Consultas

#### Consulta 1

In [31]:
connection = sqlite3.connect('futbol.db')
cursor = connection.cursor()

cursor.execute("""SELECT Ligas.nombre, COUNT(DISTINCT Partidos.equipo) FROM Ligas, Partidos
                    WHERE Ligas.lid=Partidos.liga
                    GROUP BY Partidos.liga""")
print("Tabla:\n Liga | Numero de equipos distintos")
for row in cursor.fetchall():
    print(row)
connection.close()

Tabla:
 Liga | Numero de equipos distintos
('Bundesliga', 24)
('EPL', 30)
('La_liga', 30)
('Ligue_1', 29)
('RFPL', 25)
('Serie_A', 30)

#### Consulta 2

In [34]:
connection = sqlite3.connect('futbol.db')
cursor = connection.cursor()


cursor.execute("""SELECT Equipos.nombre, Sum(Partidos.goles-Partidos.goles_perdidos) as goles, Sum(Partidos.goles), Sum(Partidos.goles_perdidos)
                    FROM Equipos, Partidos
                    WHERE Equipos.eid=Partidos.equipo
                    GROUP BY Partidos.equipo
                    Order By goles DESC""")
print("Tabla:\n Equipo | Diferencias de goles | Goles | Goles Perdidos")
for row in cursor.fetchall():
    print(row)
connection.close()

Tabla:
 Equipo | Diferencias de goles | Goles | Goles Perdidos
('Barcelona', 423, 613, 190)
('Paris Saint Germain', 386, 556, 170)
('Bayern Munich', 380, 529, 149)
('Manchester City', 334, 537, 203)
('Real Madrid', 333, 561, 228)
('Juventus', 288, 456, 168)
('Liverpool', 218, 451, 233)
('Napoli', 216, 456, 240)
('Atletico Madrid', 212, 364, 152)
('Zenit St. Petersburg', 201, 337, 136)
('Roma', 194, 431, 237)
('Borussia Dortmund', 182, 430, 248)
('Tottenham', 179, 415, 236)
('Lyon', 177, 418, 241)
('Chelsea', 162, 411, 249)
('CSKA Moscow', 161, 303, 142)
('Inter', 151, 385, 234)
('Arsenal', 150, 416, 266)
('Manchester United', 145, 364, 219)
('Lazio', 143, 421, 278)
('FC Krasnodar', 139, 296, 157)
('Monaco', 129, 382, 253)
('Marseille', 109, 362, 253)
('RasenBallsport Leipzig', 109, 267, 158)
('Atalanta', 95, 373, 278)
('Bayer Leverkusen', 87, 359, 272)
('Lokomotiv Moscow', 77, 240, 163)
('AC Milan', 74, 336, 262)
('Borussia M.Gladbach', 74, 333, 259)
('Sevilla', 73, 356, 283)
('Valencia', 63, 334, 271)
('Villarreal', 61, 317, 256)
('Spartak Moscow', 54, 258, 204)
('Fiorentina', 50, 333, 283)
('Hoffenheim', 42, 341, 299)
('Nice', 34, 289, 255)
('Leicester', 33, 336, 303)
('Saint-Etienne', 24, 269, 245)
('Lille', 23, 266, 243)
('Wolfsburg', 16, 299, 283)
('Athletic Club', 15, 276, 261)
('Wolverhampton Wanderers', 12, 98, 86)
('FC Rostov', 11, 201, 190)
('Real Sociedad', 10, 315, 305)
('Bordeaux', 9, 277, 268)
('Rennes', 8, 266, 258)
('Torino', 6, 322, 316)
('Montpellier', 6, 267, 261)
('Everton', 2, 311, 309)
('PFC Sochi', 1, 40, 39)
('Sheffield United', 0, 39, 39)
('Brest', -3, 34, 37)
('FC Tambov', -4, 37, 41)
('Dinamo Moscow', -9, 162, 171)
('Rubin Kazan', -13, 176, 189)
('Strasbourg', -13, 134, 147)
('Schalke 04', -13, 266, 279)
('Kuban Krasnodar', -14, 66, 80)
('Nimes', -16, 86, 102)
('Southampton', -16, 287, 303)
('Torpedo Moscow', -17, 28, 45)
('FK Akhmat', -17, 188, 205)
('Union Berlin', -17, 41, 58)
('Carpi', -20, 37, 57)
('Eintracht Frankfurt', -20, 290, 310)
('GFC Ajaccio', -21, 37, 58)
('Evian Thonon Gaillard', -21, 41, 62)
('Parma Calcio 1913', -22, 93, 115)
('SD Huesca', -22, 43, 65)
('Nancy', -23, 29, 52)
('Sampdoria', -25, 309, 334)
('Mallorca', -25, 40, 65)
('Girona', -25, 87, 112)
('Middlesbrough', -26, 27, 53)
('Angers', -27, 194, 221)
('Elche', -27, 35, 62)
('Lens', -29, 32, 61)
('Almeria', -29, 35, 64)
('Sassuolo', -30, 309, 339)
('FC Orenburg', -30, 92, 122)
('Reims', -30, 156, 186)
('Real Valladolid', -30, 64, 94)
('Ingolstadt', -30, 69, 99)
('FC Yenisey Krasnoyarsk', -31, 24, 55)
('Tosno', -31, 23, 54)
('Queens Park Rangers', -31, 42, 73)
('Lecce', -32, 49, 81)
('Getafe', -33, 203, 236)
('Cardiff', -35, 34, 69)
('Cesena', -37, 36, 73)
('SKA-Khabarovsk', -39, 16, 55)
('Mordovya', -41, 52, 93)
('Parma', -42, 33, 75)
('Amkar', -42, 92, 134)
('West Ham', -42, 305, 347)
('Nuernberg', -42, 26, 68)
('Hertha Berlin', -42, 261, 303)
('FC Ufa', -43, 153, 196)
('Lorient', -43, 135, 178)
('SC Bastia', -43, 102, 145)
('Celta Vigo', -43, 300, 343)
('Brescia', -44, 35, 79)
('Nantes', -44, 214, 258)
('Amiens', -45, 99, 144)
('Cordoba', -46, 22, 68)
('Malaga', -46, 153, 199)
('Tom Tomsk', -47, 17, 64)
('Fulham', -47, 34, 81)
('Fortuna Duesseldorf', -47, 85, 132)
('Pescara', -48, 35, 83)
('Krylya Sovetov Samara', -48, 108, 156)
('Alaves', -48, 154, 202)
('Crotone', -50, 74, 124)
('Darmstadt', -50, 66, 116)
('Benevento', -51, 33, 84)
('Arsenal Tula', -51, 150, 201)
('Sporting Gijon', -52, 82, 134)
('FC Cologne', -54, 209, 263)
('Werder Bremen', -54, 298, 352)
('Eibar', -55, 268, 323)
('Mainz 05', -55, 263, 318)
('Stoke', -59, 165, 224)
('Brighton', -60, 108, 168)
('Crystal Palace', -60, 263, 323)
('West Bromwich Albion', -60, 146, 206)
('Hull', -61, 70, 131)
('Osasuna', -62, 86, 148)
('Real Betis', -62, 227, 289)
('Bologna', -63, 212, 275)
('Leganes', -63, 137, 200)
('Empoli', -66, 166, 232)
('Swansea', -66, 161, 227)
('Freiburg', -67, 204, 271)
('Augsburg', -67, 259, 326)
('Dijon', -69, 159, 228)
('Ural', -70, 194, 264)
('Genoa', -71, 261, 332)
('Paderborn', -71, 68, 139)
('Rayo Vallecano', -72, 139, 211)
('Palermo', -73, 124, 197)
('Burnley', -74, 191, 265)
('Sunderland', -76, 108, 184)
('Norwich', -77, 65, 142)
('Espanyol', -78, 247, 325)
('Newcastle United', -78, 203, 281)
('Las Palmas', -79, 122, 201)
('SPAL 2013', -80, 109, 189)
('Frosinone', -81, 64, 145)
('Guingamp', -81, 210, 291)
('VfB Stuttgart', -81, 160, 241)
('Troyes', -82, 60, 142)
('Hamburger SV', -83, 127, 210)
('Huddersfield', -84, 50, 134)
('Bournemouth', -89, 241, 330)
('Cagliari', -91, 224, 315)
('Udinese', -91, 248, 339)
('Caen', -93, 185, 278)
('Levante', -93, 221, 314)
('Watford', -93, 212, 305)
('Verona', -94, 160, 254)
('Anzhi Makhachkala', -97, 96, 193)
('Deportivo La Coruna', -97, 161, 258)
('Hannover 96', -97, 146, 243)
('Aston Villa', -101, 99, 200)
('Granada', -103, 157, 260)
('Chievo', -106, 175, 281)
('Toulouse', -109, 220, 329)
('Metz', -113, 131, 244)

#### Consulta 3

In [25]:
connection = sqlite3.connect('futbol.db')
cursor = connection.cursor()


cursor.execute("""SELECT Ligas.nombre, Max(Points_league.diff) 
                    FROM Ligas,
                    
                        (SELECT Ligas.nombre as nombre, Temporadas.ano, Max(Puntos.points)-Min(Puntos.points) as diff
                        FROM Ligas, Partidos, Temporadas, 

                            (SELECT Partidos.temporada as temporada, Partidos.liga as liga, Partidos.equipo as equipo, Sum(Partidos.puntos) as points
                            FROM Partidos
                            GROUP BY Partidos.temporada, Partidos.liga, Partidos.equipo) as Puntos
                                            
                        WHERE Ligas.lid=Partidos.liga AND Temporadas.tid=Partidos.temporada
                        AND Puntos.liga=Partidos.liga AND Partidos.temporada=Puntos.temporada
                        AND Puntos.equipo= Partidos.equipo
                        GROUP BY Partidos.temporada, Partidos.liga) as Points_league
                    WHERE Ligas.nombre= Points_league.nombre
                    GROUP BY Points_league.nombre
                    ORDER BY Points_league.diff DESC
                    """)
print("Tabla:\n Liga | Numero de equipos distintos")
for row in cursor.fetchall():
    print(row)
connection.close()

Tabla:
 Liga | Numero de equipos distintos
('EPL', 82)
('Ligue_1', 78)
('Serie_A', 76)
('La_liga', 74)
('Bundesliga', 63)
('RFPL', 55)